/*=================================================
* IMAGE
=================================================== */

img,
iframe {
    max-width: 100%;
}
.rt-img {
    position: relative;
    overflow: hidden;
    img {
        margin-bottom: 0;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }

}
.rt-img--rounded {
    img{
      border-radius: 100%;
      display: inline-block;
    }
}
.rt-img--full {
    img {
        width: 100%;
    }
}
.rt-img--background{
  background-size: cover;
  background-position: center center;
  background-color: $gray;
  height: 120px;
}
/*=================================================
*  IMAGE ON CONTENT
=================================================== */

*[class*='__caption'], *[class*='__content'], *[class*='__desc'], *[class*='__body'] {
    embed, img {
        max-width: 100%;
    }
}

/*=================================================
*  IMAGE RESPONSIVE
=================================================== */

.img-responsive {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
