.rt-modal {
    display: none;
    position: fixed;
    z-index: 99999 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    &__overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        background: $color-backdrop;
    }
    &__inner {
        border-radius: $border-radius;
        overflow: hidden;
        position: relative;
        width: 600px;
        margin: 100px auto;
        border-radius: $border-radius;
        background-color: #fff;
        @include media(md) {
            width: auto;
        }
        backface-visibility: hidden;
        @include media(sm) {
            left: 0;
            width: auto;
            margin-top: 60px;
            transform: none;
            margin-right: 15px;
            margin-left: 15px;
        }
    }
    &__header {
        position: relative;
        background: $gray-light;
        padding: 15px;
        border-bottom: 1px solid $border-color;
        
    }
    &__title {
        margin: 0;
    }
    &__desc {
        margin-bottom: 0;
    }
    &__body {
        padding: 15px;
        overflow: auto;
    }
    &__footer {
        border-top: 1px solid $border-color;
        background: $gray-light;
        padding: 15px;
    }
    &__close {
        z-index: 1;
        position: absolute;
        right: 30px;
        top: 30px;
        color: #fff;
        cursor: pointer;
        &:hover {
            color: #fff;
        }
    }
}

.rt-modal--lg {
    .rt-modal__inner {
        width: 1170px;
        @include media(md) {
            width: 970px;
        }
        @include media(sm) {
            width: auto;
        }
    }
}

.rt-modal--md {
    .rt-modal__inner {
        width: 970px;
        @include media(sm) {
            width: auto;
        }
    }
}

.rt-modal--sm {
    .rt-modal__inner {
        width: 300px;
        @include media(xs) {
            width: auto;
        }
    }
}

.rt-modal--full {
    .rt-modal__wrapper {
        width: 100%;
        margin-top: 0;
        height: 100%;
        border-radius: 0;
    }
    .rt-modal__close {
        top: 15px;
        right: 15px;
    }
}

.rt-modal--noframe {
    .rt-modal__wrapper {
        padding: 0;
    }
}

/*=================================================;
/* CLOSE BUTTON
/*================================================= */
.rt-modal__header{
    .rt-modal__close{
        color: $color-second;
        @extend .float-middle;
        right: 15px;
        &:hover{
            color: $color-primary;
        }
    }
}