/*=================================================
*  FLOAT
=================================================== */
.float-center {
    float: none !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-middle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}