.rt-loading {
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#ffffff, 0.7);
        z-index: 99;
    }
}