.rt-socmed {
    display: flex;
    flex-wrap: wrap;

    &__title {
        margin: 0 10px 0 0;
        font-size: 18px;
    }

    &__item {
        display: inline-block;
        cursor: pointer;
        padding: 6px 12px;
        margin-right: 5px;
        margin-bottom: 5px;
        text-align: center;
        color: $color-second;
        background-color: $gray;
        border: 1px solid $border-color;
        border-radius: $border-radius;

        i {
            position: relative;
            display: block;
        }

        &:last-child {
            margin-right: 0;
        }

        @each $sosmed,
        $background in $sosmed {
            &.#{$sosmed} {
                @include sosmed_item($color-base, $background);
            }
        }
    }
}

.rt-socmed--center {
    justify-content: center;
}

.rt-socmed--between {
    justify-content: space-between;
}

.rt-socmed--right {
    justify-content: flex-end;
}

/*=================================================
*  SHAPE
=================================================== */
.rt-socmed--circle {
    .rt-socmed__item {
        border-radius: 100px;
    }
}

.rt-socmed--round {
    .rt-socmed__item {
        border-radius: 3px;
    }
}

.rt-socmed--squared {
    .rt-socmed__item {
        border-radius: 0;
    }
}

/*=================================================
*  COLOR
=================================================== */
.rt-socmed--brand {
    .rt-socmed__item {
        color: $color-base;

        @each $sosmed,
        $background in $sosmed {
            &.#{$sosmed} {
                background-color: $background;
                border-color: darken($background, 3%);
            }
        }
    }
}

.rt-socmed--dark {
    .rt-socmed__item {
        color: $color-base;
        background-color: #222 !important;
        border-color: #222 !important;
    }
}

.rt-socmed--gray {
    .rt-socmed__item {
        color: $color-second !important;
        background-color: $gray-light !important;
        border-color: $border-color !important;
    }
}

.rt-socmed--border {
    .rt-socmed__item {
        color: $color-second !important;
        background-color: transparent !important;
        border-color: $border-color;
        border-width: 1px;

        &:hover {
            border-color: $gray;
            color: $gray;
        }
    }
}

.rt-socmed--border-dark {
    .rt-socmed__item {
        color: $color-second !important;
        background-color: transparent !important;
        border-color: #222;
        border-width: 2px;
    }
}

/*=================================================
*  SIMPLE
=================================================== */
.rt-socmed--simple {
    .rt-socmed__item {
        padding: 0 5px;
        background-color: transparent !important;
        border: 0;
        color: $color-second;

        &:hover {
            color: $color-primary;
            background-color: transparent;
            border-color: transparent;
        }
    }
}

/*=================================================
*  SIZE
=================================================== */
.rt-socmed--small {
    font-size: 12px;
    margin-right: 2px;
    padding: 5px;
}

/*=================================================
* STYLE
/*================================================= */
.rt-socmed--text {
    .rt-socmed__item {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        line-height: 14px;

        i {
            margin-right: 7px;
        }
    }
}