/*=================================================;
/* MENU
/*================================================= */
.rt-elementor-menu-static {
    .elementor-nav-menu--main {
        display: block !important;
    }

    .elementor-menu-toggle {
        display: none !important;
    }

    .elementor-nav-menu--dropdown {
        display: none !important;
    }
}

/*=================================================;
/* ICON BOX
/*================================================= */
.elementor-position-left {
    .elementor-icon-box {
        &-wrapper {
            display: flex;
            flex-flow: row nowrap;
        }

        &-icon {
            margin-right: 10px;
        }

        &-content {
            text-align: left;
        }

        &-title {
            margin-top: 0;
        }
    }
}